body {
    margin: 0;
    overflow-x: hidden;
}


/*intro page*/
body > header:first-of-type {
    color: white;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
}

body > header:first-of-type h1 {
    font-family: monospace;
    position: relative;
}

body > header:first-of-type h1 span:last-of-type {
    display: block;
    transform: rotate(90deg);
}


/*general main styling*/
main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    padding: 2em 0 5em 0;
}

main section:nth-child(even) {
    background-color: black;
    color: white;
}

main section article {
    width: 30vw;
    overflow-wrap: break-word;
}



/*footer*/
footer {
    background-color: black;
    color: white;
    display: flex;
    width: 100vw;
}

footer p,
footer a {
    font-size: 0.5em;
    margin: 3em 3em
}

footer a,
footer a:visited {
    color: white;
    text-decoration: none;
}