body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

main {
    grid-column-start: 2;
}

p {
    display: none;
}

a {
    display: none;
}

/*check if user has dark or light theme*/
@media (prefers-color-scheme: dark) {
    body {
        background-image: url(images/night.jpg);
        background-size: auto;
    }
    h1, h2, p {
        color: white;
    }
    section:nth-child(2) p:first-child {
        display: block;
    }

    body:nth-child(2) {
        display: block;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-image: url(images/day.jpg);
        background-size: auto;
    }
    h1, h2, p {
        color: black;
    }
    section:nth-child(3) p:nth-child(2) {
        display: block;
    }

    body:nth-child(2) {
        display: none;
    }
}

/*check if user had motion rediction prefrences*/
@media (prefers-reduced-motion: reduce) {
    section:nth-child(3) p:first-child {
        display: block;
    }
}

@media (prefers-reduced-motion: no-preference) {
    section:nth-child(3) p:nth-child(2) {
        display: block;
    }
}

/*check the type of cursor the user has, touch or mouse/trackpad*/
@media (hover: none) and (pointer: coarse) {
    section:nth-child(4) p:nth-child(1) {
        display: block;
    }
}

@media (hover: hover) and (pointer: fine) {
    section:nth-child(4) p:nth-child(2) {
        display: block;
    }
}

/*check the user's screen orientation*/
@media (orientation: landscape) {
    section:nth-child(5) p:nth-child(1) {
        display: block;
    }
}

@media (orientation: portrait) {
    section:nth-child(5) p:nth-child(1) {
        display: block;
    }
}

/*check media type print*/
@media print {
    p, h1, h2, img {
        display: none!important;
    }
    section:nth-child(6) p {
        display: block!important;
    }
}