body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    display: none;
}

a {
    display: none;
}

/*check if user has dark or light theme*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
    h1 {
        color: white;
    }
    p {
        color: white;
    }
    h2 {
        color: white;
    }
    section:nth-child(2) p:first-child {
        display: block;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
    h1 {
        color: black;
    }
    section:nth-child(2) p:nth-child(2) {
        display: block;
        color: black;
    }
    h2 {
        color: black;
    }
}

/*check if user had motion rediction prefrences*/
@media (prefers-reduced-motion: reduce) {
    section:nth-child(3) p:first-child {
        display: block;
    }
}

@media (prefers-reduced-motion: no-preference) {
    section:nth-child(3) p:nth-child(2) {
        display: block;
    }
}

/*check the type of cursor the user has, touch or mouse/trackpad*/
@media (hover: none) and (pointer: coarse) {
    section:nth-child(4) p:nth-child(1) {
        display: block;
    }
}

@media (hover: hover) and (pointer: fine) {
    section:nth-child(4) p:nth-child(2) {
        display: block;
    }
}

/*check the user's screen orientation*/
@media (orientation: landscape) {
    section:nth-child(5) p:nth-child(1) {
        display: block;
    }
}

@media (orientation: portrait) {
    section:nth-child(5) p:nth-child(1) {
        display: block;
    }
}

/*check media type print*/
@media print {
    a {
        display: block;
    }
    p, h1, h2 {
        display: none!important;
    }
}